.r-l5o3uw {
  background-color: rgb(175, 162, 242) !important;
}
.r-1cvl2hr {
  color: rgb(175, 162, 242) !important;
}
.r-1peqgm7 {
 background-color: rgba(61, 29, 240, 0.1) !important; 
}
.r-1vtznih {
  background-color: rgba(175, 162, 242, 0.9) !important;
}

/* UPDATE: 8/11/21 */
header nav .r-b88u0q {
  color: rgb(175, 162, 242) !important;
}
/* .r-1b43r93 {
  color: rgb(175, 162, 242) !important;
} */
.r-19u6a5r .r-15ysp7h {
  border: 1px solid rgb(175, 162, 242) !important;
}
.css-18t94o4.css-1dbjc4n.r-42olwf.r-sdzlij.r-1phboty.r-rs99b7.r-15ysp7h.r-4wgw6l.r-1ny4l3l.r-ymttw5.r-o7ynqc.r-6416eg.r-lrvibr {
  background: rgb(175, 162, 242) !important;
}
.r-1ifxtd0 .r-42olwf {
  background: rgb(175, 162, 242) !important;
}
.r-5dk9ms {
  background: rgb(175, 162, 242) !important;
}
.r-9dcw1g .r-42olwf {
  background: rgb(175, 162, 242) !important;
}
.r-1gn8etr .r-sb58tz .r-obd0qt .r-1qi8awa * {
  color: rgb(175, 162, 242) !important;
}
.r-1gn8etr .r-sb58tz .r-obd0qt .r-1qi8awa {
  background: transparent !important;
}
.r-19u6a5r .r-15ysp7h {
  background: transparent !important;
}
.r-12d83nn {
  color: white !important;
}
.css-18t94o4.css-1dbjc4n.r-42olwf.r-sdzlij.r-1phboty.r-rs99b7.r-15ysp7h.r-4wgw6l.r-1ny4l3l.r-ymttw5.r-o7ynqc.r-6416eg.r-lrvibr * {
  color: white !important;
}



header .r-13gxpu9 {
  color: rgb(175, 162, 242);
}

header .css-18t94o4:hover .r-6416eg {
  background-color: rgba(197, 171, 250, 0.146);
}

/* END OF UPDATE */


header h1 .r-6416eg:hover {
  background-color: rgba(197, 171, 250, 0.146);
}

header .r-urgr8i {
  background-color: unset;
  background-color: rgb(201, 171, 250);
}

header .r-1q3imqu {
  background-color: rgba(178, 171, 250, 0.831);
}

.r-gtdqiz .r-13gxpu9 {
  color: rgb(174, 159, 249);
}

.r-156q2ks .r-13gxpu9 {
  color: rgb(168, 153, 247);
}

.r-156q2ks .r-zv2cs0 {
  background-color: rgba(195, 171, 250, 0.146);
}

.r-1inuy60 .r-urgr8i {
  background-color: rgb(181, 171, 250);
}

.r-1inuy60 .r-1q3imqu {
  background-color: rgba(178, 171, 250, 0.831);
}

.r-156q2ks .r-dkge59 {
  background-color: rgb(178, 170, 194);
}

div .r-p1n3y5 {
  border-bottom-color: rgb(186, 166, 247);
  border-left-color: rgb(186, 166, 247);
  border-right-color: rgb(186, 166, 247);
  border-top-color: rgb(186, 166, 247);
}

.r-156q2ks svg circle:last-child {
  stroke: rgb(186, 166, 247);
}

div .r-urgr8i {
  background-color: rgb(178, 168, 242);
}

div .r-1q3imqu {
  background-color: rgba(178, 171, 250, 0.831);
}

div .r-1xfps3t {
  background-color: rgba(178, 171, 250, 0.831);
}


div .r-13gxpu9 {
  color: rgb(162, 148, 228);
}

div .r-zv2cs0 {
  background-color: rgba(196, 176, 255, 0.1)
}

div .r-r72n3l {
  background-color: rgba(131, 94, 240, 0.2)
}

div .r-18p3no4 {
  border-bottom-color: rgb(156, 117, 233);
}

div .r-1n1174f {
  color: rgb(149, 125, 235);
}

div .r-1u4rsef {
  background-color: rgb(250, 249, 255);
}

.r-1hycxz .r-1u4rsef {
  background-color: white;
}

div .r-4rwt92 {
  border-right-color: rgb(180, 155, 255);
}

header .r-13gxpu9 {
  color: rgb(175, 162, 242);
}

div .r-ny3pxa {
  background-color: rgb(92, 68, 177);
}