.r-56xrmm a {
  color: var(--color-1) !important;
}
article span.r-18u37iz a {
  color: var(--color-1) !important;
}
.r-1jeg54m span.r-18u37iz a {
  color: var(--color-1) !important;
}
.r-1ljd8xs .r-6gpygo span.r-18u37iz a {
  color: var(--color-1) !important;
}
.r-eff69c {
    background-color: var(--color-1) !important;
    /* backdrop-filter: opacity(20%); */
}
main div[data-testid="primaryColumn"] section[role="region"] div[role="button"][data-testid="UserCell"] a[role="link"] {
  color: var(--color-1) !important;
}
main div[data-testid="primaryColumn"] section[role="region"] a.r-1yzf0co div span {
  color: var(--color-1) !important;
}
aside .r-1h8ys4a a[role="link"] {
    color: var(--color-1) !important;
}
article .r-1s2bzr4 a[role="link"] {
    color: var(--color-1) !important;
}
div[data-testid="primaryColumn"] article .r-krxsd3 a[role="link"] {
    color: var(--color-1) !important;
}
.r-jzhu7e a[role="link"][data-testid="empty_state_button_text"] {
    background-color: var(--color-1) !important;
}
.r-yuvema {
    background-color: var(--color-1) !important;
    backdrop-filter: opacity(20%);
}
.r-l5o3uw, .r-1vtznih {
  background-color: var(--color-1) !important;
}
.r-1pbtemp {
    border-right-color: var(--color-1) !important;
}
.r-1cvl2hr {
  color: var(--color-1) !important;
}
.r-n6v787 a {
  color: var(--color-1) !important;
}
.r-zso239 .r-vacyoi .r-1yzf0co * {
  color: var(--color-1) !important; 
}
.r-fif9oo .r-vacyoi .r-1yzf0co * {
  color: var(--color-1) !important; 
}
.r-tzz3ar svg {
  color: var(--color-1) !important; 
}
.r-7qyjyx .r-19u6a5r {
  background-color: var(--color-1) !important;
}
main .r-hdaws3 {
  background-color: var(--color-1) !important; 
}
.r-uaa2di a {
  background-color: var(--color-1) !important; 
}
main .r-1p6iasa svg, .r-hvns9x .r-1p6iasa svg {
  color: var(--color-1) !important;
}
.r-1waj6vr {
  background-color: var(--color-1) !important;
}
.r-htvplk .r-xd6kpl div[data-testid="tweetButton"] {
  background-color: var(--color-1) !important;
}
.r-htvplk div[data-testid="unsentButton"] .r-q4m81j {
  color: var(--color-1) !important;
}
/* .r-htvplk .r-1igl3o0 .r-rjixqe {

}  */
/* .r-htvplk .r-1igl3o0 .r-rjixqe, .r-htvplk .r-1igl3o0 .r-rjixqe svg {
  color: var(--color-1) !important;
} */
main .r-1h8ys4a .r-1igl3o0 .r-rjixqe, main .r-1h8ys4a .r-1igl3o0 .r-rjixqe svg {
  color: var(--color-1) !important;
}
.r-19u6a5r .r-15ysp7h {
  border: 1px solid var(--color-1) !important;
}
.r-1hycxz .r-19u6a5r .r-15ysp7h {
  background-color: var(--color-1) !important;
}
.css-18t94o4.css-1dbjc4n.r-42olwf.r-sdzlij.r-1phboty.r-rs99b7.r-15ysp7h.r-4wgw6l.r-1ny4l3l.r-ymttw5.r-o7ynqc.r-6416eg.r-lrvibr {
  background: var(--color-1) !important;
}
.r-1ifxtd0 .r-42olwf {
  background: var(--color-1) !important;
}
.r-5dk9ms {
  background: var(--color-1) !important;
}
.r-9dcw1g .r-42olwf {
  background: var(--color-1) !important;
}
.r-qo02w8 .r-9dcw1g .r-42olwf {
  background: transparent !important;
}
.r-1gn8etr .r-sb58tz .r-obd0qt .r-1qi8awa * {
  /* color: var(--color-1) !important; */
}
header .r-13gxpu9 {
  color: var(--color-1);
}
main div[data-testid="primaryColumn"] div[data-testid="UserDescription"] a.r-1loqt21[role="link"] {
  color: var(--color-1) !important;
}

main div[data-testid="primaryColumn"] .r-1ye8kvj .r-1pl7oy7 .r-q4m81j span {
  color: var(--color-1) !important
}
.r-vhj8yc {
  border-bottom-color: var(--color-1) !important;
  border-top-color: var(--color-1) !important;
  border-left-color: var(--color-1) !important;
  border-right-color: var(--color-1) !important;
}
main div[data-testid="primaryColumn"] article .r-kzbkwu .r-4qtqp9 span {
  color: var(--color-1) !important;
}
main div[data-testid="primaryColumn"] form[role="search"] div.r-1y7e96w[role="button"] {
  background-color: var(--color-1) !important;
}
main div[data-testid="primaryColumn"] form[role="search"] .r-1e081e0 span {
  color: var(--color-1) !important;
}
main div[data-testid="primaryColumn"] form[role="search"] div[role="button"] svg {
  color: var(--color-1) I !important
}

main div[data-testid="primaryColumn"] .r-1ifxtd0 .r-6gpygo .r-n6v787[role="button"] span {
  color: var(--color-1);
}

main div[data-testid="primaryColumn"] article .r-n6v787.r-14gqq1x span {
  color: var(--color-1);
}
main div[data-testid="primaryColumn"] article span.r-n6v787[role="button"] {
  color: var(--color-1) !important;
}
article[data-testid="tweet"] .r-1s2bzr4 .r-n6v787.r-14gqq1x, article[data-testid="tweet"] .r-1s2bzr4 span.r-n6v787[role="button"] {
  color: var(--color-1) !important;
}
main .r-1p6iasa div[role="presentation"] div[aria-label="Play"] svg {
  color: unset !important;
}
.r-htfu76 .r-kzbkwu div.r-lp5zef[aria-label="Everyone can reply"] .r-a023e6, .r-htfu76 .r-kzbkwu div.r-lp5zef[aria-label="Everyone can reply"] .r-a023e6 .r-yyyyoo {
  color: var(--color-1) !important;
}

main div[data-testid="primaryColumn"] .r-1h8ys4a .r-n1gths div[role="button"] span.r-poiln3 span.r-poiln3 {
  color: var(--color-1);
}
article[data-testid="tweet"] div[data-testid="tweet-text-show-more-link"] span {
  color: var(--color-1);
}
main div[data-testid="primaryColumn"] div[data-testid="cellInnerDiv"] .r-5njf8e span {
  color: var(--color-1);
}
main div[data-testid="primaryColumn"] div[data-testid="cellInnerDiv"] div[role="button"] .r-q4m81j span {
  color: var(--color-1); 
}
main div[data-testid="primaryColumn"] section[role="region"] a.r-1yzf0co[data-testid="analyticsButton"] span {
  color: unset !important;
}
main div[data-testid="primaryColumn"] div[data-testid="cellInnerDiv"] div[role="button"][data-testid="UserCell"] .r-19u6a5r .r-15ysp7h span { 
  color: unset;
}
main div[data-testid="primaryColumn"] div[data-testid="cellInnerDiv"] div[role="button"][data-testid="tweetButtonInline"] span {
  color: unset;
}