.r-56xrmm a {
  color: var(--color-1) !important;
}
article span.r-18u37iz a {
  color: var(--color-1) !important;
}
.r-1jeg54m span.r-18u37iz a {
  color: var(--color-1) !important;
}
.r-1ljd8xs .r-6gpygo span.r-18u37iz a {
  color: var(--color-1) !important;
}
.r-eff69c {
    background-color: var(--color-1) !important;
    /* backdrop-filter: opacity(20%); */
}
.r-1h8ys4a a[role="link"] {
    color: var(--color-1) !important;
}
article .r-1s2bzr4 a[role="link"] {
    color: var(--color-1) !important;
}
div[data-testid="primaryColumn"] article .r-krxsd3 a[role="link"] {
    color: var(--color-1) !important;
}
.r-jzhu7e a[role="link"][data-testid="empty_state_button_text"] {
    background-color: var(--color-1) !important;
}
.r-yuvema {
    background-color: var(--color-1) !important;
    backdrop-filter: opacity(20%);
}
.r-l5o3uw, .r-1vtznih {
  background-color: var(--color-1) !important;
}
.r-1pbtemp {
    border-right-color: var(--color-1) !important;
}
.r-1cvl2hr {
  color: var(--color-1) !important;
}
.r-n6v787 a {
  color: var(--color-1) !important;
}
.r-zso239 .r-vacyoi .r-1yzf0co * {
  color: var(--color-1) !important; 
}
.r-fif9oo .r-vacyoi .r-1yzf0co * {
  color: var(--color-1) !important; 
}
.r-tzz3ar svg {
  color: var(--color-1) !important; 
}
.r-7qyjyx .r-19u6a5r {
  background-color: var(--color-1) !important;
}
main .r-hdaws3 {
  background-color: var(--color-1) !important; 
}
.r-uaa2di a {
  background-color: var(--color-1) !important; 
}
.r-1p6iasa svg {
  color: var(--color-1) !important;
}
.r-1waj6vr {
  background-color: var(--color-1) !important;
}
header nav .r-b88u0q {
  /* color: var(--color-1) !important; */
}
.r-19u6a5r .r-15ysp7h {
  border: 1px solid var(--color-1) !important;
}
.r-1hycxz .r-19u6a5r .r-15ysp7h {
  background-color: var(--color-1) !important;
}
.css-18t94o4.css-1dbjc4n.r-42olwf.r-sdzlij.r-1phboty.r-rs99b7.r-15ysp7h.r-4wgw6l.r-1ny4l3l.r-ymttw5.r-o7ynqc.r-6416eg.r-lrvibr {
  background: var(--color-1) !important;
}
.r-1ifxtd0 .r-42olwf {
  background: var(--color-1) !important;
}
.r-5dk9ms {
  background: var(--color-1) !important;
}
.r-9dcw1g .r-42olwf {
  background: var(--color-1) !important;
}
.r-1gn8etr .r-sb58tz .r-obd0qt .r-1qi8awa * {
  color: var(--color-1) !important;
}
header .r-13gxpu9 {
  color: var(--color-1);
}
/* .r-1gn8etr .r-sb58tz .r-obd0qt .r-1qi8awa {
  background: transparent !important;
}
.r-12d83nn {
  color: white !important;
}
.r-qo02w8 .r-9dcw1g .r-42olwf {
    background: transparent !important;
}
.css-18t94o4.css-1dbjc4n.r-42olwf.r-sdzlij.r-1phboty.r-rs99b7.r-15ysp7h.r-4wgw6l.r-1ny4l3l.r-ymttw5.r-o7ynqc.r-6416eg.r-lrvibr * {
  color: white !important;
} */
/* div .r-1u4rsef {
  background-color: white;
}
.r-1hycxz .r-1u4rsef {
  background-color: white;
} */