

header .css-18t94o4:hover .r-6416eg {
  background-color: rgb(245, 255, 254);
}

header h1 .r-6416eg:hover {
  background-color: rgba(171, 250, 238, 0.146);
}

header .r-1q3imqu {
  background-color: rgba(93, 215, 213, 0.81);
}

.r-gtdqiz .r-13gxpu9 {
  color: rgb(91, 208, 206);
}

.r-156q2ks .r-13gxpu9 {
  color: rgb(91, 213, 211);
}

.r-156q2ks .r-zv2cs0 {
  background-color: rgba(171, 250, 238, 0.146);
}

.r-1inuy60 .r-urgr8i {
  background-color: rgb(93, 215, 213);
}

.r-1inuy60 .r-1q3imqu {
  background-color: rgba(93, 215, 213, 0.81);
}

.r-156q2ks .r-dkge59 {
  background-color: rgb(170, 194, 192);
}

div .r-p1n3y5 {
  border-bottom-color: rgb(155, 242, 229);
  border-left-color: rgb(155, 242, 229);
  border-right-color: rgb(155, 242, 229);
  border-top-color: rgb(155, 242, 229);
}

.r-156q2ks svg circle:last-child {
  stroke: rgb(125, 230, 223);
}

div .r-urgr8i {
  /* background-color: rgb(93, 215, 213); */
  background-color: rgb(91, 208, 206);
}

div .r-1q3imqu {
  background-color: rgba(93, 215, 213, 0.735);
}


div .r-13gxpu9 {
  color: rgb(91, 208, 206);
}

div .r-zv2cs0 {
  background-color: rgba(176, 255, 250, 0.1)
}

div .r-r72n3l {
  background-color: rgba(94, 240, 230, 0.2)
}

div .r-18p3no4 {
  border-bottom-color: rgb(117, 233, 221);
}

div .r-1n1174f {
  color: rgb(91, 208, 206);
}

div .r-1u4rsef {
  background-color: rgb(249, 255, 255);
}

.r-1hycxz .r-1u4rsef {
  background-color: rgb(255, 255, 255);
}

div .r-4rwt92 {
  border-right-color: rgb(155, 255, 248);
}

header .r-13gxpu9 {
  color: rgb(93, 213, 211);
}

header .r-urgr8i {
  background-color: unset;
  background-color: rgb(95, 211, 209);
}