.r-l5o3uw {
  background-color: rgb(249, 159, 174) !important;
}
.r-1cvl2hr {
  color: rgb(249, 159, 174) !important;
}
.r-1peqgm7 {
 background-color: rgb(240 29 97 / 10%) !important; 
}
.r-1vtznih {
  background-color: rgb(250, 171, 184) !important;
}
.r-1waj6vr {
  background-color: rgb(249, 159, 174) !important;
}

/* UPDATE: 8/11/21 */
header nav .r-b88u0q {
  color: rgb(249, 159, 174) !important;
}
/* .r-1b43r93 {
  color: rgb(249, 159, 174) !important;
} */
.r-19u6a5r .r-15ysp7h {
  border: 1px solid rgb(249, 159, 174) !important;
}
.css-18t94o4.css-1dbjc4n.r-42olwf.r-sdzlij.r-1phboty.r-rs99b7.r-15ysp7h.r-4wgw6l.r-1ny4l3l.r-ymttw5.r-o7ynqc.r-6416eg.r-lrvibr {
  background: rgb(249, 159, 174) !important;
}
.r-1ifxtd0 .r-42olwf {
  background: rgb(249, 159, 174) !important;
}
.r-5dk9ms {
  background: rgb(249, 159, 174) !important;
}
.r-9dcw1g .r-42olwf {
  background: rgb(249, 159, 174) !important;
}
.r-1gn8etr .r-sb58tz .r-obd0qt .r-1qi8awa * {
  color: rgb(249, 159, 174) !important;
}
.r-1gn8etr .r-sb58tz .r-obd0qt .r-1qi8awa {
  background: transparent !important;
}
.r-19u6a5r .r-15ysp7h {
  background: transparent !important;
}
.r-12d83nn {
  color: white !important;
}
.css-18t94o4.css-1dbjc4n.r-42olwf.r-sdzlij.r-1phboty.r-rs99b7.r-15ysp7h.r-4wgw6l.r-1ny4l3l.r-ymttw5.r-o7ynqc.r-6416eg.r-lrvibr * {
  color: white !important;
}



header .r-13gxpu9 {
  color: rgb(249, 159, 174);
}

header .css-18t94o4:hover .r-6416eg {
  /* background-color: rgb(255, 245, 246); */
  background-color: rgba(250, 171, 184, 0.146);
}

/* END OF UPDATE */


header h1 .r-6416eg:hover {
  background-color: rgba(250, 171, 184, 0.146);
}

header .r-urgr8i {
  background-color: unset;
  background-color: rgb(250, 171, 184);
}

header .r-1q3imqu {
  background-color: rgba(250, 171, 184, 0.831);
}

.r-gtdqiz .r-13gxpu9 {
  color: rgb(247, 166, 180);
}

.r-156q2ks .r-13gxpu9 {
  color: rgb(248, 158, 173);
}

.r-156q2ks .r-zv2cs0 {
  background-color: rgba(250, 171, 184, 0.146);
}

.r-1inuy60 .r-urgr8i {
  background-color: rgb(247, 166, 180);
}

.r-1inuy60 .r-1q3imqu {
  background-color: rgba(250, 171, 184, 0.831);
}

.r-156q2ks .r-dkge59 {
  background-color: rgb(194, 170, 174);
}

div .r-p1n3y5 {
  border-bottom-color: rgb(247, 166, 180);
  border-left-color: rgb(247, 166, 180);
  border-right-color: rgb(247, 166, 180);
  border-top-color: rgb(247, 166, 180);
}

.r-156q2ks svg circle:last-child {
  stroke: rgb(247, 166, 180);
}

div .r-urgr8i {
  background-color: rgb(247, 166, 180);
}

div .r-1q3imqu {
  background-color: rgba(250, 171, 184, 0.831);
}

div .r-1xfps3t {
  background-color: rgba(250, 171, 184, 0.831);
}

div .r-13gxpu9 {
  color: rgb(247, 156, 171);
}

div .r-zv2cs0 {
  background-color: rgba(255, 176, 197, 0.1)
}

div .r-r72n3l {
  background-color: rgba(240, 94, 133, 0.2)
}

div .r-18p3no4 {
  border-bottom-color: rgb(233, 117, 144);
}

div .r-1n1174f {
  color: rgb(235, 125, 154);
}

div .r-1u4rsef {
  background-color: rgb(255, 249, 251);
}

.r-1hycxz .r-1u4rsef {
  background-color: white;
}

div .r-4rwt92 {
  border-right-color: rgb(255, 155, 182);
}

div .r-ny3pxa {
  background-color: rgb(199, 98, 130);
}