/* UPDATE: 8/11/21 */
header nav .r-b88u0q {
  color: rgb(93, 213, 211) !important;
}
.r-1b43r93 {
  color: rgb(93, 213, 211) !important;
}
.r-19u6a5r .r-15ysp7h {
  border: 1px solid rgb(93, 213, 211) !important;
}
.css-18t94o4.css-1dbjc4n.r-42olwf.r-sdzlij.r-1phboty.r-rs99b7.r-15ysp7h.r-4wgw6l.r-1ny4l3l.r-ymttw5.r-o7ynqc.r-6416eg.r-lrvibr {
  background: rgb(93, 213, 211) !important;
}
.r-1ifxtd0 .r-42olwf {
  background: rgb(93, 213, 211) !important;
}
.r-5dk9ms {
  background: rgb(93, 213, 211) !important;
}
.r-9dcw1g .r-42olwf {
  background: rgb(93, 213, 211) !important;
}
.r-1gn8etr .r-sb58tz .r-obd0qt .r-1qi8awa * {
  color: rgb(93, 213, 211) !important;
}
.r-1gn8etr .r-sb58tz .r-obd0qt .r-1qi8awa {
  background: transparent !important;
}
.r-19u6a5r .r-15ysp7h {
  background: transparent !important;
}
.r-12d83nn {
  color: white !important;
}
.css-18t94o4.css-1dbjc4n.r-42olwf.r-sdzlij.r-1phboty.r-rs99b7.r-15ysp7h.r-4wgw6l.r-1ny4l3l.r-ymttw5.r-o7ynqc.r-6416eg.r-lrvibr * {
  color: white !important;
}



header .r-13gxpu9 {
  color: rgb(93, 213, 211);
}

header .css-18t94o4:hover .r-6416eg {
  background-color: rgba(171, 250, 238, 0.146);
}

/* END OF UPDATE */

header h1 .r-6416eg:hover {
  background-color: rgba(171, 250, 238, 0.146);
}

header .r-1q3imqu {
  background-color: rgba(93, 215, 213, 0.81);
}

.r-gtdqiz .r-13gxpu9 {
  color: rgb(88, 205, 203);
}

.r-156q2ks .r-13gxpu9 {
  color: rgb(91, 213, 211);
}

.r-156q2ks .r-zv2cs0 {
  background-color: rgba(150, 242, 228, 0.146);
}

.r-1inuy60 .r-urgr8i {
  background-color: rgb(93, 215, 213);
}

.r-1inuy60 .r-1q3imqu {
  background-color: rgba(93, 215, 213, 0.81);
}

.r-156q2ks .r-dkge59 {
  background-color: rgb(170, 194, 192);
}

div .r-p1n3y5 {
  border-bottom-color: rgb(140, 235, 221);
  border-left-color: rgb(140, 235, 221);
  border-right-color: rgb(140, 235, 221);
  border-top-color: rgb(140, 235, 221);
}

.r-156q2ks svg circle:last-child {
  stroke: rgb(125, 230, 223);
}

div .r-urgr8i {
  /* background-color: rgb(93, 215, 213); */
  background-color: rgb(91, 208, 206);
}

div .r-1q3imqu {
  background-color: rgba(93, 215, 213, 0.735);
}

div .r-1xfps3t {
  background-color: rgba(93, 215, 213, 0.735);
}


div .r-13gxpu9 {
  color: rgb(87, 205, 203);
}

div .r-zv2cs0 {
  background-color: rgba(139, 245, 238, 0.1)
}

div .r-r72n3l {
  background-color: rgba(94, 240, 230, 0.2)
}

div .r-18p3no4 {
  border-bottom-color: rgb(117, 233, 221);
}

div .r-1n1174f {
  color: rgb(78, 199, 197);
}

div .r-1u4rsef {
  background-color: rgb(249, 255, 255);
}

.r-1hycxz .r-1u4rsef {
  background-color: rgb(255, 255, 255);
}

div .r-4rwt92 {
  border-right-color: rgb(155, 255, 248);
}

header .r-13gxpu9 {
  color: rgb(93, 213, 211);
}

header .r-urgr8i {
  background-color: unset;
  background-color: rgb(95, 211, 209);
}

div .r-ny3pxa {
  background-color: rgb(50, 177, 168);
}