body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 150px;
  height: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#save {
  color: white;
}

#save:focus {
  outline: none;
}

.btn {
  width: 100%;
  background-color: rgb(240, 160, 172);
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  color: white;
  background-color: rgb(235, 134, 149);
}

