body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 160px;
  height: 235px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}

img {
  height: 80px;
  object-fit: cover;
  margin: 0 auto;
  position: relative;
  top: -5px;
}

#save {
  color: white;
}

#save:focus {
  outline: none;
}

select {
  margin-top: 3px;
}

.btn {
  font-size: 14px;
  width: 100%;
  background-color: rgb(240, 160, 172);
  color: white;
  transition: background-color 0.2s ease-in-out;
  margin-top: 5px;
}

.btn:hover {
  color: white;
  background-color: rgb(235, 134, 149);
}

